<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name>Twister</display-name>
  <servlet>
    <servlet-name>UserCreation</servlet-name>
    <servlet-class>Servlets.UserCreation</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Login</servlet-name>
    <servlet-class>Servlets.Login</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Servlets.Logout</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddFriend</servlet-name>
    <servlet-class>Servlets.AddFriend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteFriend</servlet-name>
    <servlet-class>Servlets.DeleteFriend</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListFriends</servlet-name>
    <servlet-class>Servlets.ListFriends</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>AddMessage</servlet-name>
    <servlet-class>Servlets.AddMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Search</servlet-name>
    <servlet-class>Servlets.Search</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteMessage</servlet-name>
    <servlet-class>Servlets.DeleteMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListMessage</servlet-name>
    <servlet-class>Servlets.ListMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ListMixMessage</servlet-name>
    <servlet-class>Servlets.ListMixMessage</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>infoUser</servlet-name>
    <servlet-class>Servlets.InfoUser</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>Stat</servlet-name>
    <servlet-class>Servlets.Stat</servlet-class>
  </servlet>
   <servlet>
    <servlet-name>CheckAmis</servlet-name>
    <servlet-class>Servlets.CheckFriends</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserCreation</servlet-name>
    <url-pattern>/User/Creation</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/User/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/User/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddFriend</servlet-name>
    <url-pattern>/Friend/AddFriend</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteFriend</servlet-name>
    <url-pattern>/Friend/Delete</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListFriends</servlet-name>
    <url-pattern>/Friend/ListFriends</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Search</servlet-name>
    <url-pattern>/Search</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AddMessage</servlet-name>
    <url-pattern>/Message/AddMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteMessage</servlet-name>
    <url-pattern>/Message/DeleteMessage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListMessage</servlet-name>
    <url-pattern>/Message/ListMessages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ListMixMessage</servlet-name>
    <url-pattern>/Message/ListMixMessages</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>infoUser</servlet-name>
    <url-pattern>/User/Info</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Stat</servlet-name>
    <url-pattern>/Statistique/Stat</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckAmis</servlet-name>
    <url-pattern>/CheckAmis</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>CorsFilter</filter-name>
    <filter-class>DataBase.CORSFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>CorsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
</web-app>